NEXT_PUBLIC_SUPABASE_URL=https://mqqitthsouwovhcwclmz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1xcWl0dGhzb3V3b3ZoY3djbG16Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM1NTQ5MTMsImV4cCI6MjA2OTEzMDkxM30.x3WZIgav0R2SClY0B4kiNtHm2MWZKMkNH5m50NjsLQQ